.owl-carousel .owl-stage-outer {
  padding: 5% 0;
}

.owl-item img {
  transition: 0.45s;
}

.owl-item.active .owl-item {
  position: relative;
}

@media (min-width: 768px) {
  .owl-item.active img {
    opacity: 0.7;
  }

  .owl-item.center img {
    transform: scale(1.5);
    opacity: 1;
  }
}
