.custom-btn {
  background-color: #7126b5;
  color: white;
  border-radius: 12px;
  border: none;
  margin: 2px;
  width: 150px;
  height: 40px;

  &:hover {
    background-color: #5a1f99;
  }

  &:active {
    background-color: #451771;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(113, 38, 181, 0.5);
    background-color: #5a1f99;
  }
}
