.product-card {
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden; /* Hide overflow to make slide-up effect visible */
  transition: transform 0.3s ease; /* Add a transition for the transform property */
}

.product-card:hover {
  transform: translateY(-10px); /* Adjust the distance of the slide-up effect */
}

.product-card img {
  border-radius: 4px;
  display: block;
}

.product-card .card-body h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  text-transform: capitalize;
}

.product-card .card-body p {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
  text-transform: capitalize;
}

.imgJual {
  margin-left: 50%;
  margin-top: -10%;
  display: flex;
}
