.product-card {
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden; /* Hide overflow to make slide-up effect visible */
  transition: transform 0.3s ease; /* Add a transition for the transform property */
}

.product-card:hover {
  transform: translateY(-10px); /* Adjust the distance of the slide-up effect */
}

.product-card img {
  border-radius: 4px;
  display: block;
}

.product-card .card-body h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  text-transform: capitalize;
}

.product-card .card-body p {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
  text-transform: capitalize;
}

.imgJual {
  margin-left: 50%;
  margin-top: -10%;
  display: flex;
}

.custom-btn {
  background-color: #7126b5;
  color: white;
  border-radius: 12px;
  border: none;
  margin: 2px;
  width: 150px;
  height: 40px;

  &:hover {
    background-color: #5a1f99;
  }

  &:active {
    background-color: #451771;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(113, 38, 181, 0.5);
    background-color: #5a1f99;
  }
}
