.login-form {
  margin-top: 20%;
}
.custom-font {
  font-size: 14px;
}
.arrow-back {
  display: none;
}

@media screen and (max-width: 1000px) {
  .login-img {
    display: none;
  }
  .custom-font {
    font-size: 14px;
    position: fixed;
    bottom: 0;
  }
  .arrow-back {
    display: block;
    color: black;
    width: 24px;
    height: 24px;
  }
}
